[Desktop Entry]
Version=1.0
Type=Application
Categories=System;Monitor;
Name=GSmartControl
GenericName=Hard Disk and SSD Health Inspection
Comment=Monitor and control SMART data on hard disk and solid-state drives
Icon=gsmartcontrol
Exec=/usr/bin/gsmartcontrol_polkit
Actions=SoftwareRender;NvidiaRender;IntegratedRender;
X-XFCE-Source=file:///usr/share/applications/gsmartcontrol.desktop

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender /usr/bin/gsmartcontrol_polkit

[Desktop Action NvidiaRender]
Name=Nvidia Render
Exec=NvidiaRender /usr/bin/gsmartcontrol_polkit

[Desktop Action IntegratedRender]
Name=Integrated Render
Exec=IntegratedRender /usr/bin/gsmartcontrol_polkit
