[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vcatafesta/Público]
row=9
col=0

[/home/vcatafesta/vcatafesta.gpg]
row=4
col=1

[/home/vcatafesta/bedrock-linux-0.7.29-x86_64.sh]
row=2
col=1

[/home/vcatafesta/Modelos]
row=7
col=0

[/home/vcatafesta/Músicas]
row=8
col=0

[/home/vcatafesta/Vídeos]
row=10
col=0

[/home/vcatafesta/check.sh]
row=3
col=1

[/home/vcatafesta/Imagens]
row=6
col=0

[/home/vcatafesta/tiktok.desktop]
row=1
col=1

[/home/vcatafesta/xfce-display-settings.desktop]
row=0
col=1

[/home/vcatafesta/Documents]
row=4
col=0

[/home/vcatafesta/Downloads]
row=5
col=0

[/home/vcatafesta/Documentos]
row=3
col=0

[/home/vcatafesta/Área de trabalho]
row=11
col=0

[Lixeira]
row=1
col=0

[/]
row=2
col=0

[/home/vcatafesta]
row=0
col=0

