[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vcatafesta/Público]
row=2
col=1

[/home/vcatafesta/chili-xfce-skel-24.01.20-2316-any.pkg.tar.zst]
row=4
col=1

[/home/vcatafesta/Modelos]
row=0
col=1

[/home/vcatafesta/Área de trabalho]
row=2
col=0

[/home/vcatafesta/Músicas]
row=1
col=1

[/home/vcatafesta/Imagens]
row=0
col=2

[/home/vcatafesta/Vídeos]
row=3
col=1

[/home/vcatafesta/Documentos]
row=3
col=0

[/home/vcatafesta/Downloads]
row=4
col=0

[Lixeira]
row=1
col=0

[/home/vcatafesta]
row=0
col=0

