[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vcatafesta/Público]
row=4
col=2

[/home/vcatafesta/vcatafesta.gpg]
row=1
col=1

[/home/vcatafesta/Modelos]
row=7
col=1

[/home/vcatafesta/Músicas]
row=6
col=0

[/home/vcatafesta/Área de trabalho]
row=2
col=2

[/home/vcatafesta/check.sh]
row=4
col=1

[/home/vcatafesta/Imagens]
row=6
col=1

[/home/vcatafesta/tiktok.desktop]
row=3
col=1

[/home/vcatafesta/xfce-display-settings.desktop]
row=5
col=1

[/home/vcatafesta/Documents]
row=0
col=2

[/home/vcatafesta/Downloads]
row=7
col=0

[/home/vcatafesta/Documentos]
row=1
col=2

[/home/vcatafesta/Vídeos]
row=3
col=2

[B2C8-40D2]
row=4
col=0

[415a4013-1c55-449b-a57a-24dd93f8dbd3]
row=2
col=1

[273D-0A0A]
row=5
col=0

[848257f4-1ea2-4eae-8f64-64d096bb8e09]
row=3
col=0

[5939b127-7f70-4201-aec3-95c5cf533e6c]
row=0
col=1

[Lixeira]
row=1
col=0

[/]
row=2
col=0

[/home/vcatafesta]
row=0
col=0

