[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/biglinux/Desktop/xfce-backdrop-settings.desktop]
row=4
col=0

[2024-01-20-03-52-25-00]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/biglinux]
row=1
col=0

