[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vcatafesta/Público]
row=0
col=1

[/home/vcatafesta/chili-xfce-skel-24.01.27-1051-any.pkg.tar]
row=2
col=2

[/home/vcatafesta/chili-xfce-skel-24.01.20-2316-any.pkg.tar.zst]
row=5
col=1

[/home/vcatafesta/Modelos]
row=1
col=1

[/home/vcatafesta/Área de trabalho]
row=3
col=1

[/home/vcatafesta/Músicas]
row=1
col=0

[/home/vcatafesta/Imagens]
row=5
col=0

[/home/vcatafesta/Vídeos]
row=4
col=1

[/home/vcatafesta/~]
row=0
col=2

[/home/vcatafesta/check.sh]
row=1
col=2

[/home/vcatafesta/xfce-display-settings.desktop]
row=3
col=0

[/home/vcatafesta/Documentos]
row=0
col=0

[/home/vcatafesta/Downloads]
row=2
col=1

[/home/vcatafesta/Documents]
row=3
col=2

[273D-0A0A]
row=4
col=2

[B2C8-40D2]
row=6
col=0

[Lixeira]
row=2
col=0

[/]
row=6
col=1

[/home/vcatafesta]
row=4
col=0

