[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vcatafesta/Área de trabalho/winbox64 (1).exe]
row=2
col=1

[/home/vcatafesta/Área de trabalho/xfce-display-settings.desktop]
row=10
col=0

[/home/vcatafesta/Área de trabalho/tiktok.desktop]
row=0
col=1

[/home/vcatafesta/Área de trabalho/void-install.desktop]
row=9
col=0

[/home/vcatafesta/Área de trabalho/biglinux-skel-xfce.install]
row=1
col=1

[09b34553-3a02-4095-be6c-a94fcf38b147]
row=4
col=0

[848257f4-1ea2-4eae-8f64-64d096bb8e09]
row=3
col=0

[c0b1f871-e825-4707-850c-8f47557c8454]
row=7
col=0

[03f14009-067d-46f0-b0dc-72a92b2e367d]
row=6
col=0

[415a4013-1c55-449b-a57a-24dd93f8dbd3]
row=5
col=0

[f5e47586-c5dd-4f97-b902-31b8bbb9710b]
row=3
col=1

[5939b127-7f70-4201-aec3-95c5cf533e6c]
row=8
col=0

[Lixeira]
row=1
col=0

[/]
row=2
col=0

[/home/vcatafesta]
row=0
col=0

