[Desktop Entry]
Name[pt]=Calculadora MATE
Name[pt_BR]=Calculadora do MATE
Name=MATE Calculator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName=Calculator
Comment[pt]=Realize cálculos aritméticos, científicos ou financeiros
Comment[pt_BR]=Efetue cálculos aritméticos, científicos ou financeiros
Comment=Perform arithmetic, scientific or financial calculations
Exec=mate-calc
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
Keywords[pt]=calculadora;MATE;cientifica;aritmética;financeira;cálculos;
Keywords[pt_BR]=calculadora;MATE;científica;aritmética;financeira;cálculos;
Keywords=calculator;MATE;scientific;arithmetic;financial;calculations;
Categories=GTK;Utility;Calculator;
X-MATE-DocPath=mate-calc/mate-calc.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-calc
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-OtherBinaries=mate-calculator
X-XFCE-Source=file:///usr/share/applications/mate-calc.desktop
