[Desktop Entry]
Name=Bluetooth
Comment=Configure Bluetooth settings
Icon=bluetooth
Exec=blueberry
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;HardwareSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
NotShowIn=GNOME;KDE;Unity;
Actions=SoftwareRender;
X-XFCE-Source=file:///usr/share/applications/blueberry.desktop

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender blueberry
