<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUF0aUszMzBLZ3Z6NVFvVUt0blM2RQpEdEtUamtZTE1NSC8rOFY5WVUxc3FhUC8wTE5IdjE1U1JYL1o2ZTR0Si9rUno0VFo4Qk9tc3h6MTZ2UTVhdTMxCnlneHVOSXZkQ2N1eTdnS1VhOXlzU3habVhhQmlSNVdHc2lpeThkeWI1azE1Q3c3c0xnUjZVK1prOWFrV2VWVnoKRi95aWh2aitKeERJVTFQWUM2QnRldWRpYm1NUEd0WlhEUXZrV0ZjaXVTWVcrRHdablYyb1VIdUpwWDIzaGNqUwpTbjBpUVVaMGlEeURkRnpDL0hZSTR4MDAzb2NQR3hFMzlXcndaK1Bud1AzVG5laVpLZVJQU1FxNGE2RUVVYnF4CjRGd1g3azR5bXZVd2dFQldacEpKRzR0MGgxdjhrM3BGODhaQ2hKUVgwenRuK216c2wydC9DVEhrUzFBTmtyMGkKZFErcVg4dm5jeUFRdnVycXZXNnZ5OHZBSml5dWJjVzhOaCtQQ1JqaHFQbkNwM2xKVXJIc0NhM2JTZU02ZXVQbAp0SXJ4aUp2NnRUb0UxOWhoTmFoTVRITUgxV2l0UU9HQzVoQTRnT2RYNmRmQnB4WE5WV0ZGcHNsZ2xjbWs1NEZsCnk2aHNYQUZ4OUJ0TDk4Q3BtYlRxM2xSU0xaR2F4WVZiSVhzVTl4eGgrNnJOQWdNQkFBRT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==</data>
	<key>public-key-size</key>
	<integer>3072</integer>
	<key>signature-by</key>
	<string>Vilmar Catafesta &lt;vcatafesta@gmail.com&gt;</string>
</dict>
</plist>
