[Desktop Entry]
Version=1.0
Exec=xfce4-appfinder
Icon=org.xfce.appfinder
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Application Finder
Name[pt]=Localizar aplicações
Name[pt_BR]=Localizador de aplicativos
Comment=Find and launch applications installed on your system
Comment[pt]=Procura e inicia as aplicações instaladas no seu sistema
Comment[pt_BR]=Localize e execute aplicativos instalados no seu sistema
Keywords=program;applications;bookmarks;
Keywords[pt]=programas;aplicações;marcadores;
Keywords[pt_BR]=programa, aplicativos, marcadores;
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
